<% include partials/header %>

<h1>Welcome To destination<span id = "landing">wedding</span></h1>

<a href = '/venues'>View All Venues</a>

<% include partials/footer %>
































